@using CoffeeShop.Models.Model
@model IEnumerable<Order>
@{
    ViewBag.Title = "WaitingOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Waiting Order List</h3>
                </div><!-- /.box-header -->
               
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Order Number</th>
                                <th>Order Date</th>
                                <th>Order Status</th>
                                <th>Total Cost</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Id

                                    </td>
                                    <td>
                                        @item.OrderNumber
                                    </td>

                                    <td>
                                        @item.OrderDate
                                    </td>
                                    <td>
                                        @item.OrderState

                                    </td>
                                    <td>
                                        @item.Total
                                    </td>
                                    


                                    <td>
                                        <a class="btn btn-primary" href="@Url.Action("Details",new { id=item.Id})"><i class="fa fa-fw fa-edit"></i>Details</a>
                                    </td>

                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Order Id</th>
                                <th>Order Number</th>
                                <th>Order Date</th>
                                <th>Order Status</th>
                                <th>Total Cost</th>
                                
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

