@model IEnumerable<CoffeeShop.Models.Model.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Product List</h3>
                </div><!-- /.box-header -->
                <br />
                <a class="btn btn-primary btn-block" href="@Url.Action("Create")">Create New Product</a>
                <br />
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Category Name</th>
                                <th>IsApproved</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model)
                           {
                            <tr>
                                <td>
                                    <img src="~/Content/image/@item.Image" width="80" height="60" />

                                </td>
                                <td>
                                    @item.Name
                                </td>

                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.Stock
                                </td>
                                <td>
                                    @item.Category.Name
                                </td>
                                <td>
                                    @if (item.IsApproved)
                                    {
                                        <label class="label label-success"><i class="fa fa-fw fa-check-circle-o"></i> Yes</label>
                                    }
                                    else
                                    {
                                        <label class="label label-danger"><i class="fa fa-fw fa-times-circle"></i> No</label>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="@Url.Action("Edit",new { id=item.ProductId})"><i class="fa fa-fw fa-edit"></i>Edit</a>
                                    <a class="btn btn-danger" href="@Url.Action("Delete",new { id=item.ProductId})"><i class="fa fa-fw fa-trash-o"></i>Delete</a>
                                </td>

                            </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Category Name</th>
                                <th>IsApproved</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>

